# Import Required Libraries
Import the necessary libraries, including NumPy and Pandas.

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

# Create Pandas DataFrame with Numpy Random Values
Use NumPy to create a 4x4 array of random values, then use Pandas to convert it into a DataFrame with column names 'Random value 1', 'Random value 2', 'Random value 3', and 'Random value 4'.

In [2]:
# Create a 4x4 array of random values using NumPy
random_array = np.random.rand(4,4)

# Convert the array into a Pandas DataFrame with column names
df = pd.DataFrame(random_array, columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])

# Rename DataFrame Column Names
Use the rename() function to rename the column names of the DataFrame from '0', '1', '2', and '3' to 'Random value 1', 'Random value 2', 'Random value 3', and 'Random value 4'.

In [3]:
# Use the rename() function to rename the column names of the DataFrame
df = df.rename(columns={'0': 'Random value 1', '1': 'Random value 2', '2': 'Random value 3', '3': 'Random value 4'})

# Find Descriptive Statistics of DataFrame
Use the describe() function to find the descriptive statistics of the DataFrame.

In [4]:
# Use the describe() function to find the descriptive statistics of the DataFrame
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.487779        0.598025        0.702054        0.432248
std          0.256577        0.222281        0.117587        0.211198
min          0.274286        0.314084        0.574639        0.263536
25%          0.280563        0.483891        0.621649        0.278174
50%          0.437169        0.627261        0.699716        0.373332
75%          0.644386        0.741396        0.780121        0.527406
max          0.802493        0.823495        0.834145        0.718793

# Check for Null Values and Data Types of Columns
Use the info() function to check for null values and find the data types of the columns.

In [5]:
# Use the info() function to check for null values and find the data types of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

# Display Columns with Location and Index Location Methods
Use the iloc[] and loc[] methods to display the 'Random value 2' and 'Random value 3' columns.

In [6]:
# Use the iloc[] method to display the 'Random value 2' and 'Random value 3' columns
df.iloc[:, [1, 2]]

# Use the loc[] method to display the 'Random value 2' and 'Random value 3' columns
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0        0.314084        0.637319
1        0.714029        0.834145
2        0.823495        0.762113
3        0.540494        0.574639